/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

section {
    padding: 20px;
    margin-bottom: 20px;
}

#presentation {
    display: flex;
    gap: 24%;
}

.sobre{
    width: 750px;
    margin-left: 20px;
}

.sobre p{
    font-size: 16px;
}

img{
    width: 20px;
}


/* Estilos específicos */
#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills ul li {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}
